.logo{
    width: 12rem;
}

::placeholder {
    color: rebeccapurple;
    opacity: 1; /* Firefox */
    font-size: 18px;
  }
 input{
    padding-bottom: 20px;
 }

 h1{
    color: rebeccapurple;
    font-weight: 700;
 }

 .bt1{
    padding: 15px 120px;
    border-radius: 30px;
    margin-bottom:10px;
    font-size: 16px;
    color: rebeccapurple;
 }
 .bt2{
    padding: 15px 80px;
    border-radius: 30px;
    margin-bottom:10px;
    font-size: 16px;
    color: rebeccapurple;
 }
 

 .bg{
    background-image: url('/assets/image/other/bg.jpeg' );
    background-size: cover;
    min-height: 100vh;
    max-height: 200vh;
 }