#side-nav {
  position: fixed;
  top: 70px;
  width: 230px;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
//   background-color: #223143;
background-color: #383083;
  transition: all 0.3s ease-in;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.65);

  .document-settings-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .side-menu {
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;

    .side-menu-item {
      padding: 0.7rem 2rem;
      color: #ffffff;
      transition: all 0.3s ease-in-out;

      img {
        width: 20px;
      }

      &:hover {
        // color: #00a686;
        // border: 1px solid #00a686;
        border-radius: 4px;
        // background-color: #00a686;
        // background-color: rgba(0, 166, 134, 0.2);

        // background-color: #383083;
        color: #000000;
        
      }
    }
  }
}
.left {
  left: 0 !important;
}

@media screen and (max-width: 576px) {
  #side-nav {
    left: -230px;
  }
}
