<div class="m-5" >
  <div class="df" *ngIf="false">
    <!-- <span class="stitle">Total Balance</span> -->
    <span class="d-flex justify-content-around">
      <img src="assets/image/icons/wallet.jpg" class="logo" alt=""
    /></span>
    <span class="smain d-flex justify-content-around">₦149,868</span>
  </div>
  
  <div class="df">
    <span class="stitle">Bill Payment</span>
    <div class="row m-b-30">
      <!-- <div class="col-3 align-self-sm-center"><span class="d-sm-flex justify-content-sm-around " nz-tooltip nzTooltipTitle="Internet/Data Subscribtion"  nz-icon nzType="wifi" nzTheme="outline"></span></div> -->
      <!-- <div class="col-3 align-self-sm-center"><span  class="d-sm-flex justify-content-sm-around " nz-icon nzType="mobile" nzTheme="outline"></span></div> -->
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Internet/Data"
        >
          <img
            src="assets/image/icons/data.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Data</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Airtime"
        >
          <img
            src="assets/image/icons/airtime.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Airtime</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Energy"
        >
          <img
            src="assets/image/icons/energy.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Energy</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Cable TV"
        >
          <img
            src="assets/image/icons/tv.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Cable</span></span
        >
      </div>

      <!-- <div class="col-3"><span  class="d-sm-flex justify-content-sm-around va" ><i class="bi bi-display"></i></span></div> -->
      <!-- <div class="col-3"><span  class="d-sm-flex justify-content-sm-around va" nz-tooltip nzTooltipTitle="Airtime"><i class="bi bi-display"></i></span></div> -->
    </div>

    <div class="row">
      <!-- <div class="col-3 align-self-sm-center"><span  class="d-sm-flex justify-content-sm-around " nz-icon nzType="wifi" nzTheme="outline"></span></div>
        <div class="col-3 align-self-sm-center"><span  class="d-sm-flex justify-content-sm-around " nz-icon nzType="wifi" nzTheme="outline"></span></div>
        <div class="col-3 align-self-sm-center"><span  class="d-sm-flex justify-content-sm-around " nz-icon nzType="wifi" nzTheme="outline"></span></div> -->

      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Exams"
        >
          <img
            src="assets/image/icons/exam.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Exams</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Transport"
        >
          <img
            src="assets/image/icons/transport.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Transport</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Bet"
        >
          <img
            src="assets/image/icons/betting.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Betting</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Air Ticket"
        >
          <img
            src="assets/image/icons/airticket.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Ticket</span></span
        >
      </div>
      <!-- <div class="col-3"><span  class="d-sm-flex justify-content-sm-around va" nz-tooltip nzTooltipTitle="Airtime"><i class="bi bi-airplane-fill"></i></span></div> -->
    </div>
  </div>

  <div class="df">
    <span class="stitle">Insurtech</span>
    <div class="row">
      <!-- <div class="col-3"><span  class="d-sm-flex justify-content-sm-around va" nz-tooltip nzTooltipTitle="Airtime" ><i class="bi bi-car-front-fill"></i></span></div> -->
      <!-- <div class="col-3"><span  class="d-sm-flex justify-content-sm-around va" ><i class="bi bi-display"></i></span></div>
        <div class="col-3 align-self-sm-center"><span class="d-sm-flex justify-content-sm-around " nz-icon nzType="wifi" nzTheme="outline"></span></div>
        <div class="col-3 align-self-sm-center"><span  class="d-sm-flex justify-content-sm-around " nz-icon nzType="mobile" nzTheme="outline"></span></div> -->

      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Automobile"
        >
          <img
            src="assets/image/icons/auto.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Automobile</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Health"
        >
          <img
            src="assets/image/icons/health.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Health</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Life"
        >
          <img
            src="assets/image/icons/life.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Life</span></span
        >
      </div>
      <div class="col-3 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Travel"
        >
          <img
            src="assets/image/icons/travel.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Travels</span></span
        >
      </div>
    </div>
  </div>

  <div class="df">
    <span class="stitle">Claimtech</span>
    <div class="row">
      <!-- <div class="col-12 align-self-sm-center"><span class="d-flex justify-content-around flex-column " nz-icon nzType="wifi" nzTheme="outline"></span></div> -->
      <!-- <div class="col-12 align-self-center"><span  class="d-flex justify-content-around " nz-tooltip nzTooltipTitle="Claim"> <img src="assets/image/icons/claim.jpg" class="logo" alt=""></span></div> -->
      <div class="col-12 align-self-center">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Claim"
        >
          <img
            src="assets/image/icons/claim.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Claim</span></span
        >
      </div>
    </div>
  </div>
</div>

<div class="m-5" *ngIf="false">
  <div class="d-flex flex-column" *ngIf="false">
    <!-- <span class="title">Balance</span> -->

    <div class="row justify-content-center">
      <!-- <div class="col-4 align-self-center"> -->
      <div class="df wd">
        <!-- <span class="stitle">Total Balance</span> -->
        <span class="d-flex justify-content-around">
          <img src="assets/image/icons/wallet.jpg" class="logo" alt=""
        /></span>
        <span class="smain d-flex justify-content-around">₦149,868</span>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="d-flex flex-column">
    <span class="title">Insurtech</span>

    <div class="card-content">
      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Automobile"
          >
            <img
              src="assets/image/icons/auto.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12"
              >Automobile</span
            ></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Health"
          >
            <img
              src="assets/image/icons/health.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Health</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Life"
          >
            <img
              src="assets/image/icons/life.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Life</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Travel"
          >
            <img
              src="assets/image/icons/travel.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Travels</span></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <span class="title">Bill Payment</span>

    <div class="card-content">
      <div class="df">
        <div class="align-self-center card-t">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Internet/Data"
          >
            <img
              src="assets/image/icons/data.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Data</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center card-t">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Airtime"
          >
            <img
              src="assets/image/icons/airtime.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Airtime</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center card-t">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Energy"
          >
            <img
              src="assets/image/icons/energy.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Energy</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center card-t">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Cable TV"
          >
            <img
              src="assets/image/icons/tv.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Cable</span></span
          >
        </div>
      </div>
      <!-- </div>

    <div class="card-content"> -->
      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Exams"
          >
            <img
              src="assets/image/icons/exam.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Exams</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Transport"
          >
            <img
              src="assets/image/icons/transport.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12"
              >Transport</span
            ></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Bet"
          >
            <img
              src="assets/image/icons/betting.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Betting</span></span
          >
        </div>
      </div>

      <div class="df">
        <div class="align-self-center">
          <span
            class="d-flex justify-content-around flex-column"
            nz-tooltip
            nzTooltipTitle="Air Ticket"
          >
            <img
              src="assets/image/icons/airticket.jpg"
              class="logo align-self-center"
              alt=""
            /><span class="align-self-center font-size-12">Ticket</span></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <span class="title">Claimtech</span>

    <div class="row justify-content-center">
      <!-- <div class="col-12 align-self-sm-center"><span class="d-flex justify-content-around flex-column " nz-icon nzType="wifi" nzTheme="outline"></span></div> -->
      <!-- <div class="col-12 align-self-center"><span  class="d-flex justify-content-around " nz-tooltip nzTooltipTitle="Claim"> <img src="assets/image/icons/claim.jpg" class="logo" alt=""></span></div> -->
      <!-- <div class="col-4 align-self-center"> -->
      <div class="df wd">
        <span
          class="d-flex justify-content-around flex-column"
          nz-tooltip
          nzTooltipTitle="Claim"
        >
          <img
            src="assets/image/icons/claim.jpg"
            class="logo align-self-center"
            alt=""
          /><span class="align-self-center font-size-12">Claim</span></span
        >
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
