
<div class="bg p-b-50">
    <div class="row justify-content-around p-t-100">
        <div class="col-12 d-flex flex-column align-items-center">
            
        <img src="assets/image/icons/cova.png" class="logo" alt="">
        <h1> Password Recovery</h1>
        </div>
    </div>

    
    <div class="row justify-content-around p-t-50">
        <div class="col-12 d-flex flex-column align-items-center">
            <form
              nz-form
              [formGroup]="forgotForm"
              class="pt-sm-20 p-b-20"
            >
              <input type="text" formControlName="email" nz-input placeholder="Email" >

            </form>
        </div>
    </div>

    <div class="row justify-content-around p-t-20">
        <div class="col-12 d-flex flex-column align-items-center">
            <button class="bt1" nz-button (click)="submitForm()"> Submit </button>
        </div>
    </div>


    <div class="row justify-content-around p-t-20">
        <div class="col-12 d-flex flex-column align-items-center">
          <small> www.cova.org </small>
        </div>
    </div>
</div>