<div class="login-container">
    <div class="login-inner-content container-fluid container-md">
      <div class="row justify-content-around">
        <div class="col-12 d-flex flex-column align-items-center">
          <img src="assets/image/icons/cova.png" class="logo" alt="" />
          <h5>Reset Password</h5>
        </div>
      </div>
  
      <div class="row justify-content-around p-t-20">
        <div class="col-12 d-flex flex-column align-items-center">
          <form nz-form [formGroup]="resetForm" class="pt-sm-20 p-b-20">
            <div class="form-control-wrapper m-b-30">
              <span
                nz-icon
                nzType="barcode"
                nzTheme="outline"
                class="icons-1"
              ></span>
              <input
                type="text"
                formControlName="resetCode"
                nz-input
                placeholder="ResetCode"
              />
            </div>
  
            <div class="form-control-wrapper">
              <span
                nz-icon
                nzType="lock"
                nzTheme="outline"
                class="icons-1"
              ></span>
              <input
                type="password"
                formControlName="password"
                nz-input
                placeholder="Password"
              />
            </div>
          </form>
        </div>
      </div>
  
      <div class="row justify-content-around">
        <div class="col-12 d-flex flex-column align-items-center">
          <button class="bt-4" nz-button (click)="submitForm()" >Login</button>
        </div>
      </div>
  
          
      <div class="row justify-content-around p-t-20">
        <div class="col-12 d-flex flex-column align-items-center">
          <small> www.cova.org </small>
        </div>
    </div>
  </div>
  
