    <div class="login-container">
    <div class="login-inner-content container-fluid container-md">
      <div class="row justify-content-around">
        <div class="col-12 d-flex flex-column align-items-center">
          <img src="assets/image/icons/cova.png" class="logo" alt="" />
          <h5>Welcome !</h5>
        </div>
      </div>
  
      <div class="row justify-content-around p-t-20">
        <div class="col-12 d-flex flex-column align-items-center">
          <form nz-form [formGroup]="loginForm" class="pt-sm-20 p-b-20">
            <div class="form-control-wrapper m-b-30">
              <span
                nz-icon
                nzType="user"
                nzTheme="outline"
                class="icons-1"
              ></span>
              <input
                type="text"
                formControlName="username"
                nz-input
                placeholder="Username"
              />
            </div>
  
            <div class="form-control-wrapper">
              <span
                nz-icon
                nzType="lock"
                nzTheme="outline"
                class="icons-1"
              ></span>
              <input
                type="password"
                formControlName="password"
                nz-input
                placeholder="Password"
              />
            </div>
          </form>
        </div>
      </div>
  
      <div class="row justify-content-around">
        <div class="col-12 d-flex flex-column align-items-center">
          <button class="bt-4" nz-button (click)="submitForm()" >Login</button>
        </div>
      </div>
  
      <div class="row justify-content-around p-v-30">
        <div class="col-10 col-xl-10 col-log-10 d-flex align-items-center justify-content-around">
          <span class="spanText fg">Remember Me</span>
         <a routerLink="/welcome/forgot-password"> <span class="spanText fg" >Forgot Credentials?</span></a>
        </div>
      </div>


      <div class="row justify-content-around ">
        <div class="col-10 d-flex align-items-center justify-content-center p-h-10 p-b-20">
          <span class="spanText">Don't have an account? <a routerLink="/welcome/register">Create an account</a></span>
        </div>
      </div>
    </div>
  
     
  </div>
  