<div class="ps-md-4 pe-md-3 px-2 py-3 page-body">
  <div class="card cova-background mb-3">
    <div class="card-body">
      <div class="row g-4 li_animate">
        <div class="col-xl-4 col-lg-4">
          <!-- <span class="small text-white">Welcome back!</span> -->
          <!-- <h2 class="fw-bold mb-xl-2 mb-2">My Dashboard</h2> -->
          <div class="d-flex align-items-start">
            <nz-avatar
              [nzShape]="'circle'"
              [nzIcon]="'user'"
              nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            ></nz-avatar>

            <div class="ms-3">
              <span class="small text-white">Welcome back!</span>
              <h4 class="mb-0 text-white">
                Hello, {{ userWallet?.firstName }}!
              </h4>
              <span class="text-muted-small text-white">{{
                userWallet?.email
              }}</span>
              <!-- <p class="mb-0 mt-xl-4 mt-3 text-muted-small">
                "Power up your web app with our sleek cova admin dashboard
                template.
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
          <ul
            class="list-inline d-flex flex-column mb-0 ms-5 ms-sm-0 ps-4 ps-sm-0"
          >
            <li class="list-inline-item mb-4">
              <h6 class="mb-0 mt-1">
                <span class="align-middle text-white">Balance: </span>
              </h6>
              <h4>
                <span class="fw-bold cova-secondary"
                  ><span
                    data-purecounter-start="0"
                    data-purecounter-separator=","
                    data-purecounter-currency="$"
                    data-purecounter-end="14000"
                    class="purecounter"
                    data-purecounter-duration="0"
                    >₦{{ userWallet?.bookedBalance }}.0 K</span
                  ></span
                >
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dashboard></app-dashboard>
